html, body {
	overflow-x: hidden;
	font-family: 'Rubik', sans-serif;
}

/* Navigation */
#bootstrap-override-nav {
    position: absolute;
    width: 100%;
    padding: 10px 0px;
    background: rgba(255, 255, 255, 0) ;
    z-index: 999;
}

.primary-nav {padding-right: 50px; padding-top: 30px;}

.primary-nav li{
    display: inline-block;
    margin: 0px 20px;
    color: #fbfbfc;
    font-size: 15pt;
	font-family: 'Rubik', sans-serif;
}

.primary-nav a {
	color: black;
	padding-bottom: 5px;
	-webkit-transition: border 50ms linear;
	-moz-transition: border 50ms linear;
	-o-transition: border 50ms linear;
	-ms-transition: border 50ms linear;
	transition: border 50ms linear;
}

.primary-nav a:hover {
	text-decoration: none;
	color: #88c0d0;
	border-bottom: 2px solid #88c0d0;
}

/******** HOME PAGE ********/
/* Main banner */
.main {
	font-family: 'Rubik', sans-serif;
	padding: 15% 10%; /* Center contents within the container, make background image cover*/
}

#hello {
	font-size: 40pt; 
	font-weight: 500;
	color: #2E3440;
}
#name {
	font-size: 90pt;	
	font-weight: 500;
	color: #2E3440;
}
#person-description {
	font-size: 30pt;
	font-weight: 400;
	color: #5e81ac;
}

.banner-buttons .btn-border:hover, .submit-contact .btn-border:hover, .projects .btn-border:hover {
	border: 2px solid white;
	background-color: white;
}

.about {
	font-family: 'Rubik', sans-serif;
	padding: 3% 20%;
	/* background: linear-gradient(rgba(225, 225, 225, 0.94), rgba(225, 225, 225, 0.94)); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	text-align: center;
}

.about-header h1 {
	font-size: 34pt;
	margin-bottom: 40px;
}

.about-general-description p {
	font-size: 15pt;
	margin-bottom: 20px;
	line-height: 2;
}



.footer {
	background-color: black;
	color: white;
	padding: 50px 0;
}

.facebook, .linkedin, .email-icon, .github, .dmoj {padding: 31%;}
.footer img {
	background-color: #8A8A8A;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.footer img:hover {background-color: white;}


@media screen and (max-width: 769px){
	/* HOME PAGE MOBILE STYLING*/
	.summary {text-align: center;}
	.summary img {
		display: block;
		margin: auto;
		padding: 15%;
	}

	.projects {padding: 50px 0;}
	.contact {padding: 50px 0;}
	/* END HOME PAGE MOBILE STYLING*/

}

@media screen and (max-width: 550px){
	/* HOME PAGE MOBILE STYLING*/
	.main {padding: 31% 0;}
	#hello {font-size: 20pt;}
	#name {font-size: 74pt;}
	#person-description {font-size: 26pt;}
	/* END HOME PAGE MOBILE STYLING */
}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -999;
  }
